<header class="main-header fixed-top" style="top: 0;">
  <label for="btn-nav" class="btn-nav">
    <i class="fa fa-bars"></i>
  </label>
  <input type="checkbox" id="btn-nav">

  <nav>
    <ul class="navigation">
      <li>
        <a class="nav-link" style="cursor:pointer" (click)="goTo('')">
          Inicio
        </a>
        <a class="nav-link" style="cursor:pointer" (click)="goTo('pqrs')">
          Pqrs
        </a>
        <a class="nav-link" style="cursor:pointer" (click)="goTo('pqrs-crear')">
          Pqrs-Crear
        </a>
        <a class="nav-link" style="cursor:pointer" (click)="goTo('pqrs-agregar-estado')">
          Pqrs-Agregar-Estado
        </a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet />
